<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anlaiye.com.cn.performancedemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".monitor.framemetrics.demo.CstApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".drawable.DumpBitmapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".drawable.TestDrawableActivity">

        </activity>
        <activity android:name=".lint.TestInnerClassActivity" />
        <activity android:name=".drawable.DrawableActivity" >

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".measure.TestMeasureActivity" />
        <activity android:name=".measure.TestMeasureRelativeActivity" />
        <activity android:name=".measure.TestMeasureLInearActivity" />
        <activity android:name=".monitor.MonitorActivity" />
        <activity android:name=".monitor.list.RvActivity" />
        <activity android:name=".merge.TestMergeParentActivity" />
    </application>

</manifest>