<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcxtzhang.github">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CstApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".TestNewASActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".jobscheduler.JobSchedulerActivity" />

        <service
            android:name=".jobscheduler.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.TestThreadAndProcessService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".RxActivity" />
        <activity
            android:name=".SparseArrayOrderTestActivity"
            android:process=":other_process" />
        <activity android:name=".touch.TouchActivity" />
        <activity android:name=".view.TestCstViewActivity" />
        <activity android:name=".expand.ExpandListViewActivity" />
        <activity android:name=".kotlin.FirstKotlinActivity" />
        <activity android:name=".bitmap.BitmapActivity" />
        <activity android:name=".web.WebViewActivity" />

        <receiver
            android:name=".dianping.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".test.TestInputActivity"
            android:theme="@style/Theme.DianpingTranslucent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".test.UploadPhotoJumpActivity"
            android:label="智能识图跳转助手">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>