<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mcxtzhang.github">

    <application
        android:name=".CstApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".TestNewASActivity">

        </activity>
        <activity android:name=".jobscheduler.JobSchedulerActivity">
        </activity>

        <service
            android:name=".jobscheduler.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
            android:name=".service.TestThreadAndProcessService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".RxActivity">
        </activity>
        <activity
            android:name=".SparseArrayOrderTestActivity"
            android:process=":other_process">
        </activity>
        <activity android:name=".touch.TouchActivity">
        </activity>
        <activity android:name=".view.TestCstViewActivity">
        </activity>
        <activity android:name=".expand.ExpandListViewActivity">
        </activity>
        <activity android:name=".kotlin.FirstKotlinActivity">
        </activity>
        <activity android:name=".bitmap.BitmapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>