<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcxtzhang.cstviewdemo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".PathMeasureActivity" />
        <activity android:name=".SvgActivity" />
        <activity android:name=".adddelview.AddDelViewDemoActivity" />
        <activity android:name=".matrix.MatrixActivity" />
        <activity android:name=".xfermode.XfermodeActivity" />
        <activity android:name=".shader.ShaderActivity" />
        <activity android:name=".LoppVerticalActivity" />
        <activity android:name=".suspend.SuspendViewActivity">

        </activity>
        <activity android:name=".round.RoundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>