<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcxtzhang.coordinatordemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".CstBehavior1Activity"></activity>
        <activity android:name=".ScrollingActivity" />
        <activity android:name=".TestInsetEdgeActivity" />
        <activity
            android:name=".juejin.JuejinActivity"
            android:label="@string/juejin"></activity>
        <activity android:name=".zhihu.ZhihuActivity"></activity>
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".parallex.ParallexActivity"></activity>
        <activity android:name=".alipay.AlipayMainActivity"></activity>
        <activity android:name=".uc.UcActivity"></activity>
        <activity android:name=".ir.ImageRecognitionActivity"></activity>
    </application>

</manifest>